PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pcshop?schema=public
JWT_SECRET=your_super_secret_key_here
NODE_ENV=development
ROLLBAR_ACCESS_TOKEN_BACKEND=your_rollbar_backend_token
ROLLBAR_ACCESS_TOKEN_FRONTEND=your_rollbar_frontend_token
VITE_ROLLBAR_ACCESS_TOKEN_FRONTEND=your_rollbar_frontend_token
